@charset "utf-8";
/* CSS Document */
.khung1{
	width: 500px;
	height: 500px;
	border: 1px solid black;
}

.hinh1{
	width: 200px;
	height: 200px;
	border: 1px solid red;
	margin: 120px auto;
	transform: rotate(55deg)
}

.khung2{
	width: 500px;
	height: 500px;
	border: 1px solid black;
	perspective: 300px;
}

.hinh2{
	width: 200px;
	height: 200px;
	border: 1px solid red;
	margin: 120px auto;
}

.hinh2:hover{
	transform: rotateY(60deg);
	background-color:red;
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: linear;
}
.bg-1{height: 100px; margin-bottom: 16px; background-color: yellowgreen}
body, p, h1, h2, h3, h4, h5, h6{padding: 0; margin: 0; list-style: none; text-decoration: none}
*{box-sizing: border-box}
.container{width: 1320px; margin: 0 auto}
.container-fluid{width: 100%}
.row{display: flex; flex-wrap: wrap}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{
	padding: 0 12px;
}
.d-float{float: left}
.d-block{display: block}
.item{width: 306.01px; height: 203.99px; position: relative; overflow: hidden}
.img-item{position: absolute; top: 0; left: 0}
.bg1{width: 306.01px; height: 203.99px; position: absolute; background-color: rgba(231,136,1,.7); top: 0; left: 0; opacity: 0}
.title{position: absolute;
	top: -50px;
	text-align: center;
	background-color: rgba(0,0,0,.9);
	color: #fff;
	line-height: 40px;
	width: 100%; text-transform: uppercase;  transition: all .2s linear; opacity: 0
}
.img-100{width: 100%}
.content{position: absolute;
	top: 75px; top: 170px; 
	padding: 0 30px;
	text-align: center;
	color: #fff; font-style: italic; opacity: 0;  transition: all .2s linear}
.btn{position: absolute;
	top: 165px;
	text-align: center;}
.btn-1{background-color: #111; border: none; color: #fff; text-transform: uppercase; padding: 5px 15px; width: 140px; height: 35px; opacity: 0; transition: all .2s linear}
.item:hover .img-item{transform: scale(1.3); transition: all .5s linear}
.item:hover .bg1{background-color: rgba(231,136,1,.7); transition: all .5s linear; opacity: 1}
.item:hover .tittle{top: 15px; transition: all .5s linear; opacity: 1}
.item:hover .content{top: 75px; opacity: 1; transition: all .5s linear}
.item:hover .btn-1{opacity: 1; transition: all .5s linear}
.btn-1:hover{box-shadow: 0 0 15px 0 #333;  }
